<aside id="callout" class="callout">
  <div class="text-vertical-center">
    <h2>About Us</h2>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-6 col-sm-6">
    	<p>
		Hi! We’re a team of four student developers comprised of Ilya Krasnovsky, Rushy Panchal, Hector Solis, and Yuan Wang. Jellifish grew out of the HackPrinceton-winning project in November 2015 and has since emerged an exploration of algorithm-directed efficiency in the kitchen. We’re committed to making cooking simple and fun for everyone.
    	</p>
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <!-- <div class="col-md-4 col-sm-4">
    	<p>
    	Jellifish grew out of the HackPrinceton-winning project in November 2015 and has since emerged an exploration of algorithm-directed efficiency in the kitchen.
    	</p>
	</div>
	<div class="col-md-4 col-sm-4">
		<p>
	    We’re committed to making cooking simple and fun for everyone.
	    </p>
	</div> -->
  </div>
</aside>
