<head>
	<!-- Meta information, useful for search engines -->
	<meta charset="UTF-8" />
	<meta name="description" content="Jellifish is the GPS for the kitchen" />
	<meta name="keywords" content="jellifish recipe optimize resource allocation speed fast" />
	<meta name="author" content="Jelli.fish" />
	<!-- Responsiveness meta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheets -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ site.static }}/css/bootstrap.css">
	<!-- Custom stylesheet -->
	<link rel="stylesheet" href="{{ site.static }}/css/custom-styles.css">

	<!-- JavaScript dependencies -->
	<script type="text/javascript" src="{{ site.static }}/js/bundle.js"></script>
</head>